{% load static %}
{% for papermail in papermails %}
        {% cycle '<div class="row">' '' '' %}
        <div class="small-4 columns {% if forloop.last %} end {% endif %}">
            <div class= 'column row'>
                    <h6 class="subheader text-center"><a href='{% url 'papermail-detail' papermail.id %}'>{{ papermail.name_file }}</a></h6>
                    <hr>
            </div>
            <div class='row'>
                    <div class='small-6 columns'>
                            <img class="thumbnail" src="{% if papermail.thumbnail %}{{ papermail.thumbnail.url }}{% else %}{% static 'paperworks/images/default_thumb.jpg' %}{% endif %}"/>
                    </div>
                    <div class='small-6 columns'>
                            <p class="text-smaller">{{ papermail.date_paper|date:"d/m/y" }}</p>
                            <p class="text-smaller">Emetteur : {{ papermail.sender }}</p>
                            <p class="text-smaller">Destinataire : {{ papermail.recipient }}</p>
                    </div>
            </div>
        </div>
        {% cycle '' '' '</div>'%}

{% empty %}
    <h1 class=" text-center subheader">Vous n'avez pas encore de document ! Allez au boulot ! ;)</h1>
{% endfor %}
    {% if fichiers|length|divisibleby:4 is not True %}
            </div>
    {% endif %}