{% if papermails %}
<div class='row'>
        <table class="stack_small">
                <thead>
                        <tr>
                                <th>Nom</th>
                                <th class='text-center'>Emetteur</th>
                                <th class='text-center'>Destinataire</th>
                                <th>Date du document</th>
                                <th>Etiquettes</th>
                        </tr>
                </thead>
                <tbody>
                        {% for papermail in papermails %}
                                <tr>
                                        <td><a href='{% url 'papermail-detail' papermail.id %}'>{{ papermail.name_file }}</a></td>
                                        <td class='text-center'>{{ papermail.sender }}</td>
                                        <td class='text-center'>{{ papermail.recipient }}</td>
                                        <td>{{ papermail.date_paper }}</td>
                                        <td>
                                                {% for tag in papermail.tag.all %}
                                                        {{ tag.name }}
                                                        {% if not forloop.last %} | {% endif %}
                                                {% endfor %}
                                        </td>
                                </tr>
                        {% endfor %}
                </tbody>
        </table>
</div>
{% else %}
        <h1 class=" text-center subheader">Vous n'avez pas encore de document ! Allez au boulot ! ;)</h1>
{% endif %}