{% for papermail in papermails %}
        {% cycle '<div class="row">' '' '' ''%}
        <div class="small-3 columns  {% if forloop.last %} end {% endif %}">
            <a class="thumbnail" href='{% url 'papermail-detail' papermail.id %}'><img src="{{ papermail.thumbnail.url }}"/></a>
        </div>
        {% cycle '' '' '' '</div>'%}
{% empty %}
    <h1 class=" text-center subheader">Vous n'avez pas encore de document ! Allez au boulot ! ;)</h1>            
{% endfor %}

{% if fichiers|length|divisibleby:4 is not True %}
        </div>
{% endif %}