/* prevent FOUC issues */

.no-js .top-bar {
  display: none;
}

@media screen and (min-width: 40em) {
  .no-js .top-bar {
    display: block;
  }
}

/* bloc menu bottom margin */

div.menumargin{
  margin-bottom: 10px;
}

/* bloc reveal top margin */

div.margin-top{
  margin-top: 30px;
}

/* bloc contenu articles */

p.categorie {
    font-size: xx-small;
    color: #5EB6DD;
}

a.categorie {
    color: green;
}

a.categorie:hover {
    font-weight: bold;
    color: white;
    border-radius: 3px;
    background: green;
    padding: 3px;
}

a.categorie_select {
    font-weight: bold;
    color: white;
    border-radius: 3px;
    background: green;
    padding: 3px;
}

a.categorie_select:hover {
    font-weight: bold;
    color: white;
    border-radius: 3px;
    background: green;
    padding: 3px;
}

i.red-color {
    color : red;
}

i.success {
     display: none;
     color: green !important;
     font-size: 36px;
}

i.green-color {
    color : green;
}

i.blue-color {
    color : #2199e8;
}

i.green-empty {
    color : white;
    text-shadow: 1px 0 0 green, -1px 0 0 green, 0 1px 0 green, 0 -1px 0 green, 1px 1px green, -1px -1px 0 green, 1px -1px 0 green, -1px 1px 0 green;
}

i.green-empty:hover {
    color : green;
    text-shadow : none;
}

i.grey-color {
  color : grey;
}

i.size-24 {
  font-size : 24px;
}

.inline_display {
    display:inline;
    margin:0;
    padding:0;
}

.display_for_success {
     display: none;
     }

button.radius, .button.radius {
    border-radius: 3px;
    }
  
button.round, .button.round {
    border-radius: 1000px;
    }

button.pill-left {
  border-radius: 50px 0px 0px 50px;
}

button.pill-right {
  border-radius: 0px 50px 50px 0px ;
}

button.hide {
  display: none;
}

/* identique à la fonction stack pour les tableaux dans foundation */
/* mais pour les écrans taille small */

@media screen and (max-width: 39.9375em) {
  table.stack_small thead {
    display: none;
  }
  table.stack_small tfoot {
    display: none;
  }
  table.stack_small tr,
  table.stack_small th,
  table.stack_small td {
    display: block;
  }
  table.stack_small td {
    border-top: 0;
    margin-bottom: 1rem;
  }
}
    
div.black-color {
  background-color: black !important;
}

li.white-color {
  color: white;
}

.strike {
text-decoration: line-through;
}

button.pill-special-width {
  width: calc(33% - 1px) !important;
}

div.margin-bottom {
  margin-bottom: 10px;
}

p.text-smaller {
  font-size: smaller;
}