{% extends "base.html" %}

{% load static from staticfiles %}

{% block title %}Liste des fichiers{% endblock %}

{% block content %}
        <div class='row margin-bottom margin-top'>
			<div class='small-6 columns'>
				<p class="text-center show-for-medium"><button class='button' onClick="addPapermail()">Ajouter un document <i class="fi-plus"></i></button></p>
				<p class="text-center hide-for-medium"><button class='button' onClick="addPapermail()"><i class="fi-plus"></i></button></p>
			</div>
			<div class='small-6 medium-4 columns'>
					<div class="small button-group show-for-medium">
							<a class="button" onClick="changePapermailView('details')"><i class="fi-list-thumbnails"></i> Détails</a>
							<a class="button" onClick="changePapermailView('list')"><i class="fi-list"></i> Liste</a>
							<a class="button" onClick="changePapermailView('mosaic')"><i class="fi-thumbnails"> Mosaïque</i></a>
					</div>
					<div class="small button-group hide-for-medium">
							<a class="button" onClick="changePapermailView('details')"><i class="fi-list-thumbnails"></i></a>
							<a class="button" onClick="changePapermailView('list')"><i class="fi-list"></i></a>
							<a class="button" onClick="changePapermailView('mosaic')"><i class="fi-thumbnails"></i></a>
					</div>
			</div>
        </div>
<span id="papermail_view">
 {% include request.session.fileview %}
</span>

<div class="reveal" id="addPapermailForm" data-reveal data-multiple-opened="true">
</div>

<div class="reveal" id="openSenderForm" data-reveal data-multiple-opened="true">
</div>

<div class="reveal" id="openRecipientForm" data-reveal data-multiple-opened="true">
</div>

<!-- pagination -->
	{% if is_paginated %}
	<div class="row">
		<ul class="pagination text-center" role="navigation" aria-label="Pagination">
			{% if page_obj.has_previous %}
				<li class="pagination-previous"><a href="{% url 'papermail-list' %}?page={{ page_obj.previous_page_number }}" aria-label="Previous page"><i class="fi-previous"></i></a></li>
				<li><a href="{% url 'papermail-list' %}?page={{ page_obj.paginator.page_range|first }}" aria-label="Page {{ page_obj.paginator.page_range|first }}">{{ page_obj.paginator.page_range|first }}</a></li>
			{% else %}
				<li class="pagination-previous disabled"><i class="fi-previous"></i></li>
			{% endif %}
				{% for page in page_obj.paginator.page_range %}
					{% if page == page_obj.number %}
						<li class="current">{{ page_obj.number }}</li>
					{% elif page == page_obj.paginator.page_range|first %}
					{% elif page == page_obj.paginator.page_range|last %}
					{% elif page == page_obj.number|add:"4" or page == page_obj.number|add:"-4" %}
						<li class="ellipsis"></li>
					{% elif page > page_obj.number|add:"4" or page < page_obj.number|add:"-4" %}
					{% else %}
						<li><a href="{% url 'papermail-list' %}?page={{ page }}" aria-label="Page {{ page }}">{{ page }}</a></li>
					{% endif %}
				{% endfor %}
			{% if page_obj.has_next %}
				<li><a href="{% url 'papermail-list' %}?page={{ page_obj.paginator.page_range|last }}" aria-label="Page {{ page_obj.paginator.page_range|last }}">{{ page_obj.paginator.page_range|last }}</a></li>
				<li class="pagination-next"><a href="{% url 'papermail-list' %}?page={{ page_obj.next_page_number }}" aria-label="Next page"><i class="fi-next"></i></a></li>
			{% else %}
				<li class="pagination-next disabled"><i class="fi-next"></i></li>
			{% endif %}
		</ul>
	</div>		
	{% endif %}
<!-- fin de la pagination -->
{% endblock %}

{% block javascript %}

    <script type="text/javascript">
		function changePapermailView(action){
			$.ajax({
				url:'{% url 'papermail-list' %}?page={{ page_obj.number }}',
				data: {action: action},
				dataType: "html",
				type: 'GET',
				success: function(data){
					$("#papermail_view").empty().hide();
					$("#papermail_view").append(data);
					$('#papermail_view').fadeIn(2000);
					}
				});
		}
	</script>
	<script type="text/javascript">
		function addPapermail() {
			$.ajax('{% url 'papermail-create' %}')
			.done(function(resp){
				$("#addPapermailForm").html(resp).foundation('open');
			});
		}
	</script>

	<script type="text/javascript">
		function addSender() {
			$.ajax('{% url 'sender-create' %}')
			.done(function(resp){
				$("#openSenderForm").html(resp).foundation('open');
			});
		}
	</script>

	<script type="text/javascript">
		function addRecipient() {
			$.ajax('{% url 'recipient-create' %}')
			.done(function(resp){
				$("#openRecipientForm").html(resp).foundation('open');
			});
		}
	</script>

{% endblock %}