{% extends "paperworks.html" %}

{% load static from staticfiles %}

{% block title %}{{ papermail.name_file }}{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{% static "paperworks/css/foundation-datepicker.min.css" %}">
{% endblock %}

{% block content %}
    <div class='column row margin-top'>
        <h2 class='text-center'>{{ papermail.name_file }}</h2>
    </div>
    <div class='row'>
        <div class='small-4 columns'>
            <img class='thumbnail' src="{{ papermail.thumbnail.url }}"/>
        </div>
        <div class='small-8 columns'>
            <p>
                <div class="button-group show-for-medium">
                    <button class="button success" onClick="updatePapermail('{% url 'papermail-update' papermail.id %}')"><i class="fi-pencil"></i> Editer</button>
                    <button class="button"><i class="fi-share"></i> Partager</button>
                    <button class="alert button" onClick="deletePapermail('{% url 'papermail-delete' papermail.id %}')"><i class="fi-x"></i> Supprimer</button>
                </div>
				<div class="button-group hide-for-medium">
                    <button class="button success" onClick="updatePapermail('{% url 'papermail-update' papermail.id %}')"><i class="fi-pencil"></i></button>
                    <button class="button"><i class="fi-share"></i></button>
                    <button class="alert button" onClick="deletePapermail('{% url 'papermail-delete' papermail.id %}')"><i class="fi-x"></i></button>
                </div>
            </p>
            <p> Date du document : {{ papermail.date_paper }} </p>
            <p> Emetteur du document : {{ papermail.sender }} </p>
			<p> Destinataire du document : {{ papermail.recipient }} </p>
            <p> Etiquettes du document : {% for tag in all_tags %}{{ tag.name }}{% if not forloop.last %} | {% endif %}{% endfor %}</p>
            <p><a href='{{papermail.paper_file.url}}' target="_blank" class='button'><i class="fi-download"></i> Télécharger le fichier</a></p>
        </div>
    </div>

	<div class="reveal" id="PapermailUpdate" data-reveal data-multiple-opened="true">
	</div>
	<div class="reveal" id="PapermailDelete" data-reveal>
	</div>
	<div class="reveal" id="openSenderForm" data-reveal data-multiple-opened="true">
	</div>
	<div class="reveal" id="openRecipientForm" data-reveal data-multiple-opened="true">
	</div>
{% endblock %}

{% block javascript %}
	
	<script src="{% static 'paperworks/js/foundation-datepicker.min.js' %}"></script>
	<script src="{% static 'paperworks/js/foundation-datepicker.fr.js' %}"></script>
	
	<script type="text/javascript">
		function updatePapermail($idPapermail) {
			$.ajax($idPapermail)
			.done(function(resp){
				$("#PapermailUpdate").html(resp).foundation('open');
			});
		}
	</script>
	
	<script type="text/javascript">
		function deletePapermail($idPapermail) {
			$.ajax($idPapermail)
		.done(function(resp){
			$("#PapermailDelete").html(resp).foundation('open');
		});
		}
	</script>
	<script type="text/javascript">
		function addSender() {
			$.ajax('{% url 'sender-create' %}')
			.done(function(resp){
				$("#openSenderForm").html(resp).foundation('open');
			});
		}
	</script>
	
	<script type="text/javascript">
		function addRecipient() {
			$.ajax('{% url 'recipient-create' %}')
			.done(function(resp){
				$("#openRecipientForm").html(resp).foundation('open');
			});
		}
	</script>
{% endblock %}